.footer {
	background-color: #000;
	color: #FFF;
	padding: 20px;
	width: 100%;
}

.powered-arweave {
	margin-top: 10px;
}

.powered-arweave span {
	font-weight: bold;
  vertical-align: middle;
}

.powered-arweave img {
	width: 100px;
  vertical-align: middle;
  margin-left: 14px;
}

.status-toolbar {
	background-color: black;
	color: white;
	padding: 4px;
	padding-right: 20px;
	margin-top: 40px;
}

.wisdom-text {
	font-family: 'Allison', cursive !important;
	font-size: 34px;
}