<div class="status-toolbar container-fluid fadeIn">
  <div class="row">
    <div class="col">
      <span class="blue">Connected Account:</span>
      &nbsp;
      <span class="fadeIn">{{account | async}}</span>
    </div>
    <div class="col">
      <span class="purple">Network:</span>
      &nbsp;
      <span class="fadeIn">{{ network | async}}</span>
    </div>
  </div>
</div>
<div class="footer">
	<div class="text-center">
		Wisdom Wizards. <strong>D</strong>ecentralized <strong>L</strong>earning <strong>M</strong>anagement <strong>S</strong>ystem
	</div>
	<div class="text-center powered-arweave">
		<span>Powered by</span>
		<a href="https://arweave.org" target="_blank" >
			<img src="./assets/img/arweave.png">
		</a>
    <a href="http://argoapp.live/" target="_blank" >
      <img src="./assets/img/argoLogo.png">
    </a>
    <span>
      <img src="./assets/img/angular.png">
    </span>
	<div>
</div>
