.container-lang {
	padding: 20px;
	min-height: 100%;
}

.choose-lang-title {
	margin-bottom: 20px;
}

.mini-wizard {
	width: 50px;
}

.spinner-center {
	margin: 0 auto;
	margin-top: 20px;
}

.grid-col {
	margin-bottom: 10px;
	font-size: 22px;
	padding: 20px;
	text-align: center;
	cursor: pointer;
}