.whitepaper-container {
	margin-top: 20px;
	margin-bottom: 20px;

}
.whitepaper-container-parent {
	min-height: 440px;
}

.whitepaper-container p {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 12px;
}