<mat-toolbar class="fadeIn" color="accent" >
  <mat-icon 
  	aria-hidden="false"
  	aria-label="About">info</mat-icon>
	<span>&nbsp;About</span>
</mat-toolbar>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>

<div class="container about-container-parent" >
	<div class="row fadeIn" *ngIf="!loading">
  	<div class="col-12 about-container">
  		<mat-card>
				<h1 class="text-center">About Wisdom Wizards</h1>
			</mat-card>
		</div>
		<div class="col-12 about-container-info">
  		<mat-card>
				<p class="text-center">
					<strong>Contract address:</strong> {{ contractAddress }}
				</p>
				<p class="text-center ">
					<strong>Contract info:</strong>
					&nbsp;
					<a target="_blank" href="https://viewblock.io/arweave/address/{{contractAddress}}" class="purple">Open external link to viewblock.io</a>
				</p>
				<p class="text-center">
					<strong>Courses: </strong>
					<span >{{ state.courses.length }}</span>
				</p>

				<p class="text-center">
					 <strong>{{ getNumElements(state.users) }} </strong>
					<span>people are learning on Wisdom Wizards</span>
				</p>

				
				
			</mat-card>
		</div>

	</div> 
</div>