.about-container {
	margin-top: 20px;
	margin-bottom: 20px;

}
.about-container-parent {
	min-height: 100%;
}

.loading-txt {
	font-style: italic;

}

.scoreboard {
	padding: 10px;
}

.about-container-info {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
}

.about-container-info p {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.bn {
	font-size: 40px;
	padding-bottom: 10px;
}

.small-legend, .small-legend a {
	font-size: 12px;
	font-style: italic;
}

.wwtext p, .wwtext a {
	
}

.wwtextlink {
	font-size: 24px;
	margin-bottom: 20px;
}

.title-about {
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 8px #FAFAFA;
}