<mat-toolbar class="fadeIn" color="primary" >
  <mat-icon 
  	aria-hidden="false"
  	aria-label="About">info</mat-icon>
	<span>&nbsp;About</span>
</mat-toolbar>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>

<div class="container about-container-parent" >
	<div class="row fadeIn" *ngIf="!loading">
  	<div class="col-12 about-container">
			<h1 class="text-center title-about">About Wisdom Wizards</h1>
		</div>
		
		<div class="col-12 about-container-info">
  		<mat-card class="wwtext">
  			<p class="text-center">
					<img src="./assets/img/wizard.png">
				</p>
				<p class="text-center">
					Wisdom Wizards is a Decentralized Learning Management System.
				</p>
				<p class="text-center">
					A LMS is a platform that helps teachers from all over the world to create and administrate online courses.
				</p>
				<p class="text-center">
					Our biggest difference is that our platform is totally decentralized!
				</p>
				<p class="text-center">
					This app lives on the permaweb thanks to the Arweave technology. We provide our users with a gateway to this technology, so any professor can upload their resources to the permaweb and share it with their students in a breeze.
				</p>
				<p class="text-center">
					Preserve your wisdom forever! Monetize your knowledge!
				</p>

				<p class="text-center">
					If you want to read a deeply explanation on how this works please check out our whitepaper.
					<br><br>
					<a mat-flat-button color="primary" class="wwtextlink" routerLink="/whitepaper">Read whitepaper</a>
				</p>

				<p class="text-center small-legend">
					*Wisdom Wizards logo Image by 
					<a target="_blank" mat-button color="accent" href="https://pixabay.com/users/graphicmama-team-2641041/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1459371">GraphicMama-team</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1459371"  mat-button color="accent">Pixabay</a>
				</p>

				
				
			</mat-card>
		</div>

		<div class="col-12 about-container-info">
  		<mat-card>
				<p class="text-center">
					<strong>Contract address:</strong> {{ contractAddress }}
				</p>
				<p class="text-center ">
					<strong>Contract info:</strong>
					&nbsp;
					<a target="_blank" href="https://viewblock.io/arweave/address/{{contractAddress}}" class="purple">Open external link to viewblock.io</a>
				</p>
				<p class="text-center">
					<strong>Courses: </strong>
					<span >{{ state.courses.length }}</span>
				</p>

				<p class="text-center">
					 <strong>{{ getNumElements(state.users) }} </strong>
					<span>people are learning on Wisdom Wizards</span>
				</p>
			</mat-card>
		</div>

	</div> 
</div>