.subject-card {
	padding: 10px;
}

.subject-card mat-card {
	
	cursor: pointer;
}

.subject-card-title {
	font-size: 22px;
	font-weight: bold;
}

.list-container-parent {
	min-height: 440px;
}

.course-card {
	padding: 10px;
}

.course-card mat-card {
	
}

.course-card-title {
	font-size: 14px;
	font-weight: bold;
}


.subject-card-icon {
	font-size: 82px;
	margin-bottom: 10px;

	line-height: 82px;
	width: 100%;
}

.selected-subject-bar span {
	margin-left: 4px;
}

.selected-subject-bar mat-icon {
}

.bnum {
	font-size: 28px;
}

.title-sel-subject {
	padding: 0;
	margin-bottom: 20px;
}

.title-sel-subject h1 {
	font-size: 32px;
	font-weight: bold;

}

.title-sel-subject h3 {
	font-size: 16px;
	
}

.mini-wizard {
	width: 50px;
}