<mat-toolbar class="fadeIn" color="accent">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Courses list">school</mat-icon>
	<span>&nbsp;Courses</span>
	<span class="toolbar-spacer"></span>
	<button 
  		mat-icon-button 
      class="fadeIn"
      matTooltip="Create a new course"
      routerLink="/courses/new"
  		aria-label="New course">
    <mat-icon>add</mat-icon>
  </button>
  <button 
  	*ngIf="hideSubjects"
  	mat-icon-button 
  	class="fadeIn" 
  	(click)="showSubjects()"
    matTooltip="Go back"
  	aria-label="Go back">
    <mat-icon>navigate_before</mat-icon>
  </button>

</mat-toolbar>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>

<div class="container list-container-parent" >
	<div class="row" *ngIf="!loading && !hideSubjects">
  	<div class="col list-container">
  		<mat-card>
				<h1 class="text-center">Select a subject</h1>
			</mat-card>
		</div>
	</div>
	<div class="row fadeIn" *ngIf="!loading && !hideSubjects">
  	<div 
  		class="col-3 subject-card" 
  		*ngFor="let subject of subjects; let subjectId = index">
  		<mat-card (click)="searchCoursesBySubject(subjectId)">
				<div class="text-center subject-card-title">
					{{ subject }}
				</div>
				<span *ngIf="filteredCourses && filteredCourses[subjectId]">
					# {{ filteredCourses[subjectId].length }}
				</span>
			</mat-card>
		</div>
	</div>

	<div class="container" *ngIf="!loading && hideSubjects">
		<div class="row">
	  	<div class="col list-container">
	  		<mat-card>
					<h1 class="text-center">Courses</h1>
				</mat-card>
			</div>
		</div>
		<div class="row fadeIn">
	  	<div 
	  		class="col" 
	  		*ngIf="filteredCourses">
	  		<mat-card>
					<div class="text-center ">
						No results found.
					</div>
				</mat-card>
			</div>
		</div>
		<div class="row fadeIn">
	  	<div 
	  		class="col-4 subject-card" 
	  		*ngFor="let course of filteredCourses">
	  		<mat-card>
					<div class="text-center subject-card-title">
						<a [routerLink]="['/courses', course.id]">
							{{ course }}
						</a>
					</div>
				</mat-card>
			</div>
		</div>
	</div>
</div>
