.list-container {
	margin-top: 20px;
	margin-bottom: 10px;
}

.subject-card {
	padding: 10px;
}

.subject-card mat-card {
	
	cursor: pointer;
}

.subject-card-title {
	font-size: 14px;
	font-weight: bold;
}