
.list-container-parent {
	min-height: 440px;
}

.bnum {
	font-size: 28px;
}

.title-sel-subject {
	padding: 0;
	margin-bottom: 20px;
}

.title-sel-subject h1 {
	font-size: 32px;
	font-weight: bold;

}

.title-sel-subject h3 {
	font-size: 16px;
	
}
