.edit-container {
	margin-top: 20px;
	margin-bottom: 10px;
}

.edit-container-parent {
	min-height: 440px;
}

.frmEdit mat-form-field {
	width: 100%;
	margin-bottom: 10px;
}

.img-preview {
	height: 360px;
	width: 100%;
	border: 1px dotted;
}

.btn-full {
	width: 100%;
	height: 64%;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}