.menu-spacer {
  flex: 1 1 auto;
}

.logo {
}

.logo-text {
	margin-left: 6px;
	font-weight: bold;
    cursor: pointer;
  font-family: 'Allison', cursive;
  font-size: 42px;
}

.translate-icon {
	color: #FFF;
}

.theme-icon {
	color: #FFF;
}

mat-toolbar.app-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}