<mat-toolbar 
  color="primary" 
  class="app-toolbar mat-elevation-z6 fadeIn">
  <button 
    mat-icon-button 
    class="menu-icon" 
    (click)="toggleSideMenu()"
    matTooltip="Show menu"
    aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span [routerLink]="[routeLang]" class="logo-text">
    Wisdom Wizards
  </span>
  <span class="menu-spacer"></span>
  
  <button 
    *ngIf="defaultTheme === 'light-theme'"
      mat-icon-button 
      (click)="setMainTheme('dark-theme')"
      matTooltip="Dark mode">
    <mat-icon>dark_mode</mat-icon>
  </button>
  <button 
    *ngIf="defaultTheme === 'dark-theme'"
      mat-icon-button 
      (click)="setMainTheme('light-theme')"
      matTooltip="Light mode">
    <mat-icon>light_mode</mat-icon>
  </button>
  <button 
      [matMenuTriggerFor]="settingsMenu"
      mat-icon-button 
      class="translate-icon"
      matTooltip="Settings"
      aria-label="Settings">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button 
      [routerLink]="['./']"
      mat-menu-item>
      <mat-icon>language</mat-icon> Select language
    </button>
  </mat-menu>
  
  <button 
    mat-icon-button 
    (click)="login()"
    aria-label="Login"
    matTooltip="Login"
    *ngIf="!isLoggedIn">
    <mat-icon>login</mat-icon>
  </button>
  <button 
      [matMenuTriggerFor]="userMenu"
      mat-icon-button 
      *ngIf="isLoggedIn"
      matTooltip="User menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="[routeLang, 'dashboard']">
      <mat-icon>dashboard</mat-icon> General dashboard
    </button>
    <button mat-menu-item>
      <mat-icon>school</mat-icon> My learning
    </button>
    <button mat-menu-item>
      <mat-icon>co_present</mat-icon> Instructor dashboard
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>

</mat-toolbar>