.menu-spacer {
  flex: 1 1 auto;
}

.logo {
}

.logo-text {
	margin-left: 6px;
	font-weight: bold;
}

.translate-icon {
	color: #FFF;
}

.theme-icon {
	color: #FFF;
}


.toolbar-shadow {
}

mat-toolbar.app-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
}