.error-container {
	margin-top: 20px;
	margin-bottom: 20px;

}
.error-container-parent {
	min-height: 440px;
}

.error-container-info {
	font-size: 18px;
	line-height: 18px;
}

.bn {
	font-size: 82px;
	line-height: 82px;
	margin-top: 20px;
	margin-bottom: 20px;
}