<mat-nav-list>
  <div mat-subheader>Menu</div>
  <a 
    mat-list-item 
    (click)="toggleSideMenu()" 
    [routerLink]="[routeLang, 'home']" 
    routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <div mat-line>Home</div>
  </a>
  <a mat-list-item 
    (click)="toggleSideMenu()" 
    [routerLink]="[routeLang, 'learn']" 
    routerLinkActive="active">
    <mat-icon mat-list-icon>school</mat-icon>
    <div mat-line>Browse courses</div>
  </a>
  <a mat-list-item 
    (click)="toggleSideMenu()" 
    [routerLink]="[routeLang, 'browse']" 
    routerLinkActive="active">
    <mat-icon mat-list-icon>explore</mat-icon>
    <div mat-line>Browse subjects</div>
  </a>
  <a mat-list-item 
    (click)="toggleSideMenu()" 
    [routerLink]="[routeLang, 'about']" 
    routerLinkActive="active">
    <mat-icon mat-list-icon>info</mat-icon>
    <div mat-line>About</div>
  </a>
</mat-nav-list>