<mat-progress-bar 
  *ngIf="platformLoading$ | async"
  class="main-loader" 
  mode="indeterminate"></mat-progress-bar>
<mat-sidenav-container class="main-container">
  <mat-sidenav 
  		mode="over" 
      autoFocus="false"
      [(opened)]="opened">
  	<app-main-menu 
      [(opened)]="opened"
      [routeLang]="routeLang"></app-main-menu>
  </mat-sidenav>
  <mat-sidenav-content id="ww-mat-sidenav-main-content" >
		<app-main-toolbar 
        *ngIf="showMainToolbar$ | async"
        [(opened)]="opened"
        [isLoggedIn]="!!mainAddress"
        [routeLang]="routeLang"></app-main-toolbar>
		<router-outlet></router-outlet>
    <app-footer 
      *ngIf="showMainToolbar$ | async"
      [address]="mainAddress"
      [network]="network$ | async"
      ></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>