<mat-toolbar class="fadeIn" color="accent">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Courses list">school</mat-icon>
	<span>&nbsp;Courses</span>
	<span class="toolbar-spacer"></span>
  <button 
  	mat-icon-button 
  	class="fadeIn" 
  	(click)="goBack()"
  	aria-label="Go back">
    <mat-icon>navigate_before</mat-icon>
  </button>

</mat-toolbar>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading || loadingFrm"
	class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>

<div class="container new-container-parent" >
	<div class="row justify-content-center" *ngIf="!loading">
  	<div class="col-6 new-container">
			<form class="frmNew" [formGroup]="frmNew" (ngSubmit)="onSubmit()">
				<mat-card>
					<h1 class="text-center">Create new course</h1>
					<mat-form-field appearance="fill" color="accent">
					  <mat-label>Course name</mat-label>
					  <input matInput 
					 		type="text" 
					 		maxlength="60" 
					 		required
				    	formControlName="name">
    				<mat-hint>*Max 60 characters</mat-hint>
					</mat-form-field>
					<mat-form-field appearance="fill" color="accent">
					  <mat-label>Description</mat-label>
				    <textarea matInput 
					 		type="text" 
					 		maxlength="200" 
					 		required
					 		rows="4"
				    	formControlName="description"></textarea>
    				<mat-hint>*Max 200 characters</mat-hint>
					</mat-form-field>
					<div class="row">
						<mat-form-field appearance="fill" color="accent" class="col-10">
						  <mat-label>Image url</mat-label>
					    <input matInput 
						 		type="text" 
						 		maxlength="200" 
						 		required
						 		(change)="previewImage(imgUrl!.value)"
					    	formControlName="imgUrl">
	    				<mat-hint>*Max 200 characters</mat-hint>
						</mat-form-field>
						<div class="col-2">
							<button 
					    	mat-flat-button
					    	[disabled]="loadingFrm"
					    	type="button"
					    	color="primary">
					    	<mat-icon>upload</mat-icon>
					    </button>
						</div>
					</div>
					<mat-form-field appearance="fill" color="accent">
					  <mat-label>Subject</mat-label>
				    <mat-select
						 		required
					    	formControlName="subject">
					    <mat-option 
					    	*ngFor="let sub of subjects | async"
					    	[value]="sub.id">
					    	{{ sub.label }}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
					<mat-form-field appearance="fill" color="accent">
					  <mat-label>Price in winston</mat-label>
				    <input matInput 
					 		type="number"
					 		min="0"
					 		step="1" 
					 		required
				    	formControlName="price">
					</mat-form-field>
					<mat-form-field appearance="fill" color="accent">
					  <mat-label>Language code</mat-label>
					  <input matInput 
					 		type="text" 
					 		maxlength="2" 
					 		required
					 		[value]="langCode!.value | uppercase"
				    	formControlName="langCode">
    				<mat-hint>*Max 2 characters</mat-hint>
					</mat-form-field>
					<div class="text-center">
				    <button 
				    	mat-flat-button
				    	type="submit"
				    	[disabled]="!frmNew.valid ||  loadingFrm"
				    	color="primary">Save</button>
					</div>
				</mat-card>
			</form>
		</div>
		<div class="col new-container">
			<mat-card>
					<h1 class="text-center">Image preview</h1>
					<div class="img-preview">
						<img [src]="previewImgUrl" title="Preview">
					</div>
			</mat-card>
		</div>
	</div>

	<div class="text-center fadeIn" *ngIf="loading && txmessage" >
		Your transaction is being processed... <br>
		Please copy the next link to follow your transaction:
		<a [href]="txmessage" target="_blank">{{txmessage}}</a>
		<br><br> Redirecting to dashboard in 10 seconds ...
	</div>

</div>
