<mat-toolbar class="fadeIn" color="accent" >
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Course">school</mat-icon>
	<span>&nbsp;Courses : Info</span>
	<span class="toolbar-spacer"></span>
  <button 
  	mat-icon-button 
  	class="fadeIn" 
  	(click)="goBack()"
    matTooltip="Go back"
  	aria-label="Go back">
    <mat-icon>navigate_before</mat-icon>
  </button>
</mat-toolbar>

<div class="container detail-container-parent" >
	<div class="row fadeIn" >
  	<div class="col-12 detail-container">
  		<mat-card>
				<h1 class="text-center">Title</h1>
				<p class="text-center">
					Info
				</p>
			</mat-card>
		</div>
	</div> 
</div>