<mat-toolbar class="fadeIn" color="accent" >
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Course">school</mat-icon>
	<span>&nbsp;Courses
    <span class="fadeIn" *ngIf="detail && detail.name && detail.active">>&nbsp;{{ detail.name }}</span>
  </span>
	<span class="toolbar-spacer"></span>
  <button 
  	mat-icon-button 
  	class="fadeIn" 
  	(click)="goBack()"
    matTooltip="Go back"
  	aria-label="Go back">
    <mat-icon>navigate_before</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar 
  mode="indeterminate"
  *ngIf="loading"
  class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>
<div class="container detail-container-parent" >
	<div class="row fadeIn" *ngIf="detail && detail.active">
  	<div class="col-12 col-md-6 detail-container">
  		<mat-card>
				<h1 class="course-title text-left">{{ detail.name }}</h1>
				<p class="text-left">
					Description: {{ detail.description }}
				</p>
        <p class="text-left">
          Subject: {{ detail.subject }}
        </p>
        <p class="text-left">
          Created by {{ detail.createdBy }}
        </p>
        <p class="text-left" *ngIf="verification">
          Trust score is: {{ verification.percentage }} %
        </p>
        <p class="text-left green" *ngIf="verification && verification.verified">
          Verified address!
        </p>
        <p class="text-left red" *ngIf="verification && !verification.verified">
          Address not verified!
        </p>
        <p class="text-left">
          Rated: {{ detail.rating }}
        </p>
        <p class="text-left">
          Lang: {{ detail.langCode }}
        </p>
        <p class="text-left">
          Certificate price: {{ winstonToAr(detail.price) }} AR
        </p>
			</mat-card>
		</div>
    <div class="col-12 col-md-6 detail-container">
      <mat-card class="text-center">
        <img width="60%" [src]="detail.imgUrl">
      </mat-card>
    </div>
	</div> 
</div>