<mat-toolbar class="fadeIn" color="primary" >
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Course">school</mat-icon>
	<span>&nbsp;Courses
    <span class="fadeIn" *ngIf="detail && detail.name && detail.active">>&nbsp;{{ detail.name }}</span>
  </span>
	<span class="toolbar-spacer"></span>
  <button 
  	mat-icon-button 
  	class="fadeIn" 
  	(click)="goBack()"
    matTooltip="Go back"
  	aria-label="Go back">
    <mat-icon>navigate_before</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar 
  mode="indeterminate"
  *ngIf="loading"
  class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>
<div class="container detail-container-parent" >
	<div class="row fadeIn" *ngIf="detail && detail.active">
    <div class="col-12 col-md-6 detail-container">
      <mat-card class="text-center">
        <img width="100%" [src]="detail.imgUrl">
      </mat-card>
    </div>
  	<div class="col-12 col-md-6 detail-container">
  		<mat-card>
				<h1 class="course-title text-center">{{ detail.name }}</h1>
				
        <p class="text-right">
          <mat-icon>{{ getSubjectDetail(detail.subject).icon }}</mat-icon> {{ getSubjectDetail(detail.subject).label }}
        </p>
        <p class="text-left">
          {{ detail.description }}
        </p>
        <p class="text-left">
          <strong>Students:</strong> {{ detail.users.length }}
        </p>
        <p class="text-left">
          <strong>Created by</strong> {{ detail.createdBy }}
        </p>
        <p class="text-left" *ngIf="verification">
          <strong>Trust score:</strong> {{ verification.percentage }} %
        </p>
        <p class="text-center green" *ngIf="verification && verification.verified">
          Verified address!
        </p>
        <p class="text-center red" *ngIf="verification && !verification.verified">
          Address not verified! <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8.533.133a1.75 1.75 0 00-1.066 0l-5.25 1.68A1.75 1.75 0 001 3.48V7c0 1.566.32 3.182 1.303 4.682.983 1.498 2.585 2.813 5.032 3.855a1.7 1.7 0 001.33 0c2.447-1.042 4.049-2.357 5.032-3.855C14.68 10.182 15 8.566 15 7V3.48a1.75 1.75 0 00-1.217-1.667L8.533.133zm-.61 1.429a.25.25 0 01.153 0l5.25 1.68a.25.25 0 01.174.238V7c0 1.358-.275 2.666-1.057 3.86-.784 1.194-2.121 2.34-4.366 3.297a.2.2 0 01-.154 0c-2.245-.956-3.582-2.104-4.366-3.298C2.775 9.666 2.5 8.36 2.5 7V3.48a.25.25 0 01.174-.237l5.25-1.68zM6.78 5.22a.75.75 0 10-1.06 1.06L6.94 7.5 5.72 8.72a.75.75 0 001.06 1.06L8 8.56l1.22 1.22a.75.75 0 101.06-1.06L9.06 7.5l1.22-1.22a.75.75 0 10-1.06-1.06L8 6.44 6.78 5.22z"></path></svg>
        </p>
        <p class="text-left">
          <strong>Rated:</strong> {{ detail.rating }}
        </p>
        <p class="text-left">
          <strong>Lang:</strong> {{ detail.langCode }}
        </p>
        <p class="text-left">
          <strong>Certificate price:</strong> {{ winstonToAr(detail.price) }} AR
        </p>
        <p class="text-left" *ngIf="searchMeInUsersEnrolled(detail.users)">
          <strong class="green">You are already enrolled!</strong>
        </p>
        <div class="row">
          <div class="col" *ngIf="!searchMeInUsersEnrolled(detail.users)">
            <button mat-raised-button color="primary">ENROLL ME</button>
          </div>
          <div class="col text-right">
            <button mat-raised-button color="accent">AUDIT COURSE</button>
          </div>
  
        </div>

        
        <p class="text-center">
          <button mat-raised-button color="accent">DONATE!</button>
        </p>

			</mat-card>
		</div>
	</div> 
</div>