.dashboard-container {
	height: 100%;
}

.loading-txt {
	font-style: italic;

}

.scoreboard {
	padding: 10px;
}
.scoreboard .mat-card {
	height: 100px;
}

.scoreboard a {
	  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.bn {
	font-size: 36px;
	margin-bottom: 10px;
}

.bn2 {
	font-size: 20px;
	text-overflow: ellipsis;
}

.num-container {
	padding-top: 10px;
	margin-bottom: 6px;
}

.txurl {
	text-decoration: none;
  width: 100%;
}

.bn3 {
	font-size: 16px;
	overflow: hidden;
  text-overflow: ellipsis;

}

.scoreboards-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.card-register-msg {

}

.card-register-msg p {
	font-size: 16px;
}