<mat-toolbar class="fadeIn" color="accent">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Dashboard">dashboard</mat-icon>
	<span>&nbsp;Dashboard</span>
</mat-toolbar>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>
<div *ngIf="userInfo && userInfo.coursesEnrolled && !loading"
	class="container dashboard-container fadeIn">
	<h1>Welcome back!</h1>
	<div class="row">
		<div class="col-12 col-md-12 scoreboard">
			<mat-card>
				<div class="text-center"><span class="bn2">{{ balance | async }}</span> AR</div>
				<div class="text-center">Account balance</div>
			</mat-card>
		</div>
		<div class="col-12 col-md-3 scoreboard">
			<mat-card>
				<div class="bn text-center">{{ userInfo.coursesEnrolled.length }}</div>
				<div class="text-center">Courses enrolled</div>
			</mat-card>
		</div>
		<div class="col-12 col-md-3 scoreboard">
			<mat-card>
				<div class="bn text-center">{{ userInfo.completedCourses.length }}</div>
				<div class="text-center">Completed courses</div>
				
			</mat-card>
		</div>
		<div class="col-12 col-md-3 scoreboard">
			<mat-card>
				<div class="bn text-center">{{ userInfo.coursesEvaluated.length }}</div>
				<div class="text-center">Courses evaluated</div>
			</mat-card>
		</div>
		<div class="col-12 col-md-3 scoreboard">
			<mat-card>
				<div class="bn text-center">{{ userInfo.coursesCreated.length }}</div>
				<div class="text-center">Courses created</div>
			</mat-card>
		</div>
		
	</div>

</div>

<div *ngIf="(!userInfo || !userInfo.coursesEnrolled) && !loading"
	class="container dashboard-container fadeIn">
	<div class="row">
		<div class="col-12 col-md-12 scoreboard">
			<mat-card>
				<div class="text-center"><span class="bn2">{{ balance | async }}</span> AR</div>
				<div class="text-center">Account balance</div>
			</mat-card>
		</div>
	</div>
	<div class="row">
		<div class="col" >
			Register: 
    	<button mat-flat-button (click)="register()" color="primary">REGISTER NOW</button>
		</div>
	</div>

</div>
