<mat-toolbar class="fadeIn" color="accent">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Dashboard">dashboard</mat-icon>
	<span>&nbsp;Dashboard</span>
</mat-toolbar>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>

<div *ngIf="!loading" class="container fadeIn">
	<div class="row">
		<div class="col-12 col-md-6 scoreboard">
			<mat-card>
				<div class="text-center"><span class="bn2">{{ balance | async }}</span> AR</div>
				<div class="text-center">Account balance</div>
			</mat-card>
		</div>
		
		<div class="col-12 col-md-6 scoreboard">
			<mat-card>
				<div class="text-center">
					<a 
						mat-button
						target="_blank"
						href="https://viewblock.io/arweave/tx/{{lastTransactionID | async}}"
						class="bn3 txurl">{{ lastTransactionID | async }}</a>
				</div>
				<div class="text-center">Last TXID processed</div>
			</mat-card>
		</div>
	</div>
</div>

<div class="container dashboard-container">
	<div *ngIf="userInfo && userInfo.coursesEnrolled && !loading" class="fadeIn">
		<h1>Welcome back!</h1>
		<div class="row">
			<div class="col-12 col-md-3 scoreboard">
				<mat-card>
					<div class="bn text-center">{{ userInfo.coursesEnrolled.length }}</div>
					<div class="text-center">Enrolled courses</div>
				</mat-card>
			</div>
			<div class="col-12 col-md-3 scoreboard">
				<mat-card>
					<div class="bn text-center">{{ userInfo.completedCourses.length }}</div>
					<div class="text-center">Completed courses</div>
					
				</mat-card>
			</div>
			<div class="col-12 col-md-3 scoreboard">
				<mat-card>
					<div class="bn text-center">{{ userInfo.coursesEvaluated.length }}</div>
					<div class="text-center">Evaluated courses</div>
				</mat-card>
			</div>
			<div class="col-12 col-md-3 scoreboard">
				<mat-card>
					<div class="bn text-center">{{ userInfo.coursesCreated.length }}</div>
					<div class="text-center">Created courses</div>
				</mat-card>
			</div>
			<div class="col-6 scoreboard">
				<mat-card>
					<button 
						color="primary"
						style="float: right; margin-right: 10px"
						mat-mini-fab 
						routerLink="/courses/new"
        		matTooltip="Create a new course"
						aria-label="Create a new course">
	          <mat-icon>add</mat-icon>
	        </button>
					<h1 class="text-left" style="margin-top: 4px">
						Create a new course
					</h1>
				</mat-card>
			</div>
			<div class="col-6 scoreboard">
				<mat-card>
					<button 
						color="accent"
						style="float: right; margin-right: 10px"
						mat-mini-fab 
						routerLink="/courses/created"
        		matTooltip="List of created courses"
						aria-label="List of created courses">
	          <mat-icon>bolt</mat-icon>
	        </button>
					<h1 class="text-left" style="margin-top: 4px">
						View created courses
					</h1>
				</mat-card>
			</div>
		</div>
	</div>

	<div *ngIf="(!userInfo || !userInfo.coursesEnrolled) && !loading"
		class="container fadeIn">
		<mat-card>
			<h1 class="text-center">Create an account</h1>
				<p class="text-center">You need to register in our platform in order to start using it.</p>
				<p class="text-center">Please click on the "Register" button and wait until your transaction gets processed.</p>
			<div class="row">
				<div class="col-12 text-center" >
		    	<button 
		    		[disabled]="disableRegisterButton"
			    	mat-flat-button 
			    	(click)="register()" 
			    	color="primary">REGISTER NOW</button>
			    &nbsp;
			    <button 
		    		[disabled]="disableRegisterButton"
			    	mat-flat-button 
			    	(click)="reload()" 
			    	color="accent">RELOAD PAGE</button>
				</div>
				<div class="col-12 text-center" style="margin-top: 20px;" >
					<strong class="red">*</strong> If you already pressed the "REGISTER NOW" button, then you don't have to do it again. You only have to wait a few minutes until the transaction is processed by the Arweave network. (Unless that your transaction fails! ;)
					<br>
					<strong class="red">Hint:</strong> Do you have enough AR?
				</div>

			</div>
			<div class="row" *ngIf="txmessage">
				<div class="col" >
					<h2>Processing transaction ... </h2>
					<p>
						Please come back again in a few minutes while the job is finished:)
					</p>
					<br>
					Transaction status:&nbsp;
					<a target="_blank" class="purple" [href]="txmessage">{{ txmessage }}</a>
					<br>
					Meanwhile you can browse our courses list: 
					<a class="purple" routerLink="/courses">View courses</a>
				</div>
			</div>
		</mat-card>
	</div>
</div>
