.dashboard-container {
	min-height: 440px;
}

.loading-txt {
	font-style: italic;

}

.scoreboard {
	padding: 10px;
}

.bn {
	font-size: 40px;
	padding-bottom: 10px;
}

.bn2 {
	font-size: 20px;
	text-overflow: ellipsis;
}

.txurl {
	text-decoration: none;
  font-family: 'New Tegomin', serif !important;
  width: 100%;
}

.bn3 {
	font-size: 16px;
	overflow: hidden;
  text-overflow: ellipsis;

}

.scoreboards-container {
	margin-top: 20px;
	margin-bottom: 20px;
}