<mat-toolbar class="fadeIn" color="primary">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Dashboard">dashboard</mat-icon>
	<span>&nbsp;Dashboard</span>
</mat-toolbar>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading"
	class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>
<div class="dashboard-container">
	<div *ngIf="!loading" class="container scoreboards-container fadeIn">
		<h1>Welcome back!</h1>
		<div class="row">
			<div class="col-12 col-md-6 scoreboard">
				<mat-card>
					<div class="text-center num-container">
						
							<span class="bn">{{ balance | async }}</span> AR
					</div>
					<div class="text-center"><strong>Account balance</strong></div>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 scoreboard">
				<mat-card>
					<div class="text-center">
						<a 
							mat-button
							target="_blank"
							href="https://viewblock.io/arweave/tx/{{lastTransactionID | async}}"
							class=" txurl">
							<span class="bn2">{{ lastTransactionID | async }}</span>
						</a>
					</div>
					<div class="text-center"><strong>Last TXID processed</strong></div>
				</mat-card>
			</div>
			<div class="col-12 scoreboard">
				<mat-card>
					<div class="text-center">
						<a 
							mat-button
							target="_blank"
							href="https://viewblock.io/arweave/address/{{mainAddress}}"
							class=" txurl">
							<span class="bn2">{{ mainAddress }}</span>
						</a>
					</div>
					<div class="text-center"><strong>Your Arweave address</strong></div>
				</mat-card>
			</div>
			
		</div>
	</div>

</div>
