<div 
	class="home-parent-container fadeIn"
	style="background: url({{sliderImage}}) no-repeat center center fixed; background-size: cover;">
	<div class="home-container container">
		<h1 class="main-title text-center">Welcome <span>wizards</span>!</h1>
		<h1 class="secondary-title text-center">Decentralized learning for a free world</h1>
	</div>
</div>
<mat-toolbar class="fadeIn" color="primary" >
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Home">home</mat-icon>
	<span>&nbsp;Home</span>
</mat-toolbar>
<div class="container">
		<h1 class="how-title text-center">How it works?</h1>
	<div class="row">
		<div class="col how-card">
			<mat-card>
				<div>
						<mat-icon 
							class="how-card-icon"
							aria-hidden="false" 
							aria-label="Wisdom">school</mat-icon>
				</div>
				<div>	
					Create a course and start earning AR by sharing your wisdom.
				</div>
				
			</mat-card>
		</div>
		<div class="col how-card">
			<mat-card>
				<div>
						<mat-icon 
							class="how-card-icon"
							aria-hidden="false" 
							aria-label="Wizards">psychology</mat-icon>
				</div>
				<div>	
					Join us and start learning from instructors from all over the world.
				</div>
			</mat-card>
		</div>
		<div class="col how-card">
			<mat-card>
				<div>
						<mat-icon 
							class="how-card-icon"
							aria-hidden="false" 
							aria-label="Wizards">savings</mat-icon>
				</div>
				<div>
					Support the community and earn passive income by buying/earning our PST tokens.
				</div>
			</mat-card>
		</div>
	</div>
	<h1 class="how-title text-center">How to start?</h1>
	<h2 class="">You only need an Arweave wallet</h2>
	
	<div class="row">
		<div class="col">
			<h3>Recommended wallets</h3>
			<p>
				Arweave wallet: <a mat-button target="_blank" href="https://www.arweave.org/wallet">https://www.arweave.org/wallet</a>
			</p>
			<p>
				Arconnect wallet: <a mat-button target="_blank" href="https://chrome.google.com/webstore/detail/arconnect/einnioafmpimabjcddiinlhmijaionap">https://chrome.google.com/webstore/detail/arconnect/einnioafmpimabjcddiinlhmijaionap</a>
			</p>
		</div>
	</div>
</div>
