<div 
	class="home-parent-container fadeIn"
	style="background: url({{sliderImage}}) no-repeat center center fixed; background-size: cover;">
	<div class="home-container container">
		
	</div>
</div>
<div class="home-container container">
	<h1 class="main-title text-center">Welcome wizards!</h1>
	<h1 class="secondary-title text-center">Decentralized learning platform</h1>
</div>
<div class="container">
	<h3 class="how-title text-center">How it works?</h3>
	<div class="row">
		<div class="col-12 col-lg-4 how-card">
			<mat-card>
				<mat-card-content>
					<p>
						<mat-icon 
							class="how-card-icon blue-happy"
							aria-hidden="false" 
							aria-label="Wizards">school</mat-icon>
					</p>	
					<p>	
						Create an online course in the permaweb and share your wisdom with the rest of the world.
					</p>
				</mat-card-content>
				<mat-card-actions>
			    <button 
					mat-flat-button
					color="accent"
					class="superBtn_font"
  				(click)="login()">Start now</button>
			  </mat-card-actions>
			</mat-card>
		</div>
		<div class="col-12 col-lg-4 how-card">
			<mat-card>
				<mat-card-content>
					<p>
						<mat-icon 
							class="how-card-icon "
							aria-hidden="false" 
							aria-label="Wizards">psychology</mat-icon>
					</p>	
					<p>	
						Join us and start learning from instructors from all over the world.
					</p>
				</mat-card-content>
				<mat-card-actions>
			    <button 
					mat-flat-button
					color="accent"
					class="superBtn_font"
  				(click)="login()">Start now</button>
			  </mat-card-actions>
			</mat-card>
		</div>
		<div class="col-12 col-lg-4 how-card">
			<mat-card>
				<mat-card-content>
					<p>
						<mat-icon 
							class="how-card-icon pink"
							aria-hidden="false" 
							aria-label="Wizards">savings</mat-icon>
					</p>	
					<p>	
						Support the community and earn passive income by buying/earning our PST tokens.
					</p>
				</mat-card-content>
				<mat-card-actions>
			    <button 
					mat-flat-button
					color="accent"
					class="superBtn_font"
  				routerLink="/whitepaper">Learn more</button>
			  </mat-card-actions>
			</mat-card>
		</div>

		<div class="col-12 col-md-6 how-card">
			<h1 class="how-title text-center">Follow us</h1>
			<br>
			<p class="text-center">
				<a 
					class="follow-buttons"
					href="https://twitter.com/wisdom_wizards" 
					target="_blank">
						<img width="50px" src="./assets/img/twitter.png">
				</a>
				&nbsp;
				<a
					class="follow-buttons"
					href="https://discord.gg/mgJ34a6RUb" 
					target="_blank">
						<img width="60px" src="./assets/img/discord.png">
				</a>
				&nbsp;
				<a
					class="follow-buttons"
					href="https://www.youtube.com/channel/UCfh4GY5hUzyjtpiuvg3coLQ" 
					target="_blank">
						<img width="50px" src="./assets/img/youtube.png">
				</a>
				&nbsp;
				<a
					class="follow-buttons"
					href="https://github.com/luckyr13/wisdom-wizards" 
					target="_blank">
						<img width="55px" src="./assets/img/github.png">
				</a>

				<br>
				<br>
				&nbsp;
				<a
					class="follow-buttons"
					href="https://community.xyz/#eCUK6Jrt30GKy_EKkbgExt1G0Qf_AhNAvzu4977E5sw" 
					target="_blank">
						<img width="280px" src="./assets/img/community.svg">
				</a>
			</p>

		</div>

		<div class="col-12 col-md-6 how-card">
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/lP9Y6ZADLcU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

	</div>
	<h1 class="how-title text-center">How to start?</h1>
	<h2 class="text-center">You only need an Arweave wallet</h2>
	<h3 class="bold text-center">Recommended wallets</h3>
	<div class="row justify-content-md-center">
		<div class="col-12 col-md-6 how-card">
			<mat-card>
				<mat-card-content>
					<p>
						<img src="./assets/img/arconnect.jpg" alt="arconnect">
					</p>	
					<p>
						<strong>ArConnect wallet</strong>
					</p>
				</mat-card-content>
				<mat-card-actions>
			    <a 
			    	mat-flat-button 
			    	color="accent" 
			    	target="_blank"
			    	class="superBtn_font"
			    	href="https://arconnect.io">Visit arconnect.io</a>
			  </mat-card-actions>
			</mat-card>
		</div>
		
	</div>

	<h1 class="how-title text-center">Join our Profit Sharing Community</h1>
	
	<div class="text-center">
		<a href="https://community.xyz/#eCUK6Jrt30GKy_EKkbgExt1G0Qf_AhNAvzu4977E5sw" 
			target="_blank">
			<img class="wisdomBanner" src="./assets/img/wisdomBanner.jpg">
		</a>
	</div>

	
</div>
