.home-container {
	padding: 40px;
}

.home-parent-container {
	height: 500px;
  background: url('./../../assets/img/slider1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 24px;
}

.main-title {
	margin-top: 200px;
	font-size: 62px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px 8px #000;
}

.main-title span {
	text-shadow: 2px 2px 8px #ffd800;
}

.secondary-title {
	color: #FFF;
	text-shadow: 2px 2px 8px #000;
}

.how-title {
	font-size: 42px;
	font-weight: bold;
	color: #000;

}