.home-container {
	padding: 20px;
	padding-top: 50px;
}

.home-parent-container {
	height: 460px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-title {
	color: #e5c4ff;
	margin-top: 20px;
	font-size: 72px;
	line-height: 72px;
	margin-bottom: 12px;
	font-weight: bold;
	text-shadow: 2px 2px 6px #000;
	font-family: 'Allison', cursive !important;
}
.secondary-title {
	color: #FFF;
	font-size: 32px;
	line-height: 32px;
	text-shadow: 2px 2px 4px #000;
}


@media (min-width: 768px) {

	.main-title {
		font-size: 86px;
		line-height: 86px;
	}

	.secondary-title {
		font-size: 32px;
		line-height: 32px;
	}

}


.how-title {
	font-size: 42px;
	font-weight: bold;
	text-shadow: 2px 2px 8px #FAFAFA;
	margin-bottom: 50px;
	color: inherit;
}

.how-card {
	padding: 10px;
	text-align: center;
}

.how-card mat-card {
	padding: 40px;
}

.how-card p {
	font-size: 22px;
	line-height: 22px;
}

.how-card button {
	margin-top: 20px;
	padding: 6px;
}

.how-card-icon {
	font-size: 102px;
	margin-bottom: 20px;

	line-height: 82px;
	width: 100%;
}

.wisdomBanner {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.superBtn_font {
	font-size: 16px;
	width: 80%;
}

.slider-text {
	padding-top: 240px;
}

.mini-wizard {
	width: 50px;
}
.promo_video {
	margin-top: 40px;
	margin-bottom: 40px;
}