.home-container {
	padding: 40px;
}

.home-parent-container {
	height: 540px;
  background: url('./../../assets/img/slider1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-title {
	margin-top: 300px;
	font-size: 62px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px 8px #000;
}

.main-title span {
	text-shadow: 2px 2px 8px #ffd800;
}

.secondary-title {
	color: #FFF;
	text-shadow: 2px 2px 8px #000;
}

.how-title {
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 28px;
	margin-top: 28px;

}

.how-card {
	padding: 40px;
	text-align: center;
}

.how-card-icon {
	font-size: 64px;
	width: 100%;
}