<mat-toolbar class="fadeIn" color="accent">
  <mat-icon 
  	aria-hidden="false"
  	aria-label="Courses list">school</mat-icon>
	<span>&nbsp;Courses</span>
	<span class="toolbar-spacer"></span>
  <button 
  	mat-icon-button 
  	class="fadeIn" 
  	(click)="goBack()"
  	aria-label="Go back">
    <mat-icon>navigate_before</mat-icon>
  </button>

</mat-toolbar>
<mat-progress-bar 
	mode="indeterminate"
	*ngIf="loading || loadingActivate"
	class="fadeIn"></mat-progress-bar>
<div class="loading-txt text-center fadeIn" *ngIf="loading" >Loading ... </div>

<div class="container my-created-container-parent" >
	<div class="row justify-content-center fadeIn" *ngIf="!loading">
  	<div class="col-12 my-created-container">
  		<mat-card>
				<h1 class="text-center">My created courses</h1>
			</mat-card>
      
		</div>

    <div class="col-12">Res: <span>{{ txmessageActivate }}</span></div>

    <div 
      *ngFor="let courseId of coursesCreatedById"
      class="col-4 my-created-container ">
      <mat-card>
        {{ courseId }}
        <button 
          mat-flat-button 
          (click)="activateCourse(courseId)" 
          color="primary">Activate</button>
      </mat-card>
    </div>

    
	</div>