<mat-nav-list>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <mat-list-item (click)="login('arconnect')">
    <img matListAvatar src="./assets/img/arconnect.jpg">
    <span mat-line>ArConnect wallet</span>
  </mat-list-item>
  <mat-list-item (click)="login('arweaveApp')">
    <img matListAvatar src="./assets/img/arweaveViewSmall.svg">
    <span mat-line>Arweave.app connector</span>
  </mat-list-item>
  <mat-list-item (click)="uploadFileListener(fileUploader)" >
  	<mat-icon matListIcon color="accent">upload</mat-icon>
    <span mat-line>Upload private key</span>
    <span mat-line>*Less secure but cheaper (no fees)</span>
  </mat-list-item>
</mat-nav-list>

<div style="visibility: hidden">
  <input type="file" 
      #fileUploader 
      accept=".json,application/json" 
      (change)="login('upload_file', $event)">
</div>